.about__wrapper {
  width: 320px;
  margin: 0 auto;
}

.about__title {
  font-size: 25px;
  line-height: 30px;
  padding-left: 30px;
}

.about__list {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 30px;
}
