.category {


}

.category__button-interior {
  color: #FFFFFF;
  background: #63D1BB;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  border: none;
  width: 320px;
  height: 103px;
  text-align: start;
  padding-left: 30px;

}

.category__button-toy {
  display: flex;
  color: #FFFFFF;
  background: #56C3B2;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  border: none;
  width: 320px;
  height: 103px;
  align-items: center;


}
