.featured {
  display: flex;
  justify-content: center;

  &__title {
    font-size: 25px;
    line-height: 30px;
    }

  &__sub-title {
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #63D1BB;
    margin-top: -20px;
  }

  &__sub-title__text {
    font-size: 15px;
    line-height: 24px;
  }
}

.featured__table {
  font-size: 15px;
  line-height: 20px;
}

.featured__term {
  float: left;
}

.featured__discription {
  padding-left: 55px;
  }

.featured__price {
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}
