.filter__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @light-green;
  padding-top: 25px;
  padding-bottom: 25px;
}

.filter__type {
  padding-bottom: 50px;
}

.filter-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  padding-top: 20px;
}

.filter-username {
  display: flex;
  flex-direction: column;
}

.filter__subtext {
  font-size: 14px;
  line-height: 16px;
}

.filter-name-radio {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  position: absolute;
  width: 42px;
  height: 42px;
  padding-left: 60px;
  background-image: url("/img/form/Radio.svg");
  background-repeat: no-repeat;
  display: flex;
  min-width: 320px;
  align-items: center;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  left: 0;
  background-image: url("/img/form/radio_active.svg");
  background-repeat: no-repeat;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  background-image: url("");
  background-repeat: no-repeat;
}

.filter__сolor {
  padding-bottom: 60px;
}

.filter-name-checkbox {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  position: absolute;
  width: 38px;
  height: 38px;
  padding-left: 60px;
  background-image: url("/img/form/Checkbox.svg");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.filter-input-checkbox:checked + label::before {
  position: absolute;
  width: 24px;
  height: 17px;
  top: 11px;
  left: 7px;
  content: "";
  background-image: url("/img/form/Tick.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox + label:hover::after {
  position: absolute;
  width: 38px;
  height: 38px;
  left: 0;
  content: "";
  background-image: url("/img/form/Border_green_checkbox.svg");
  background-repeat: no-repeat;
}

.button-submit {
  font-size: 17px;
  line-height: 16px;
  background-color: transparent;
  margin-top: 30px;
  margin-bottom: 55px;
}

.button-submit:link {
  color: @light-black;
  background: @basic-white;
}

.button-submit:hover {
  color: @basic-white;
  background: @light-black;
  padding: 14px 45px 14px 45px;
}

.button-submit:active {
  color: @lighten-black;
  background: @light-black;
}

//  Стилизация placeholder
//  ::-webkit-input-placeholder
//  ::-moz-placeholder
//  :-ms-input-placeholder
//  :-moz-placeholder

.filter-input-username {
  font-family: "Open Sans" "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  width: 260px;
  height: 52px;
  border: none;
  border-bottom: 2px solid;
}

.filter-input-username::placeholder {
  font-family: "Open Sans" "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;
}

.filter-input-username:hover {
  border-bottom: 2px solid @light-green;
}

.form-contact-phone {
  font-family: "Open Sans" "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  width: 260px;
  height: 52px;
  border: none;
  border-bottom: 2px solid;
}

.form-contact-phone::placeholder {
  font-family: "Open Sans" "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;
}

.form-contact-phone:hover {
  border-bottom: 2px solid @light-green;
}

.form-contact-email {
  font-family: "Open Sans" "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  width: 260px;
  height: 52px;
  border: none;
  border-bottom: 2px solid;
}

.form-contact-email::placeholder {
  font-family: "Open Sans" "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;
}

.form-contact-email:hover {
  border-bottom: 2px solid @light-green;
}

.filter__textarea {
  font-family: "Open Sans" "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  width: 260px;
  height: 142px;
  border: 2px solid;
}

.filter__textarea::placeholder {
  font-family: "Open Sans" "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;
}

.filter__textarea:hover {
  border: 2px solid @light-green;
}
