.filter__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @light-green;
  padding-bottom: 25px;
}

.filter__type {
  padding-bottom: 50px;
}

.filter-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.filter-username {
  display: flex;
  flex-direction: column;
}

.filter__subtext {
  font-size: 14px;
  line-height: 16px;
}

.filter-name__radio {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  position: absolute;
  width: 42px;
  height: 42px;
  padding-left: 60px;
  content: "";
  background-image: url("/img/form/Radio.svg");
  background-repeat: no-repeat;
  display: flex;
  width: 320px;
  align-items: center;
 }

.filter-input-radio:checked+label::before  {
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  left: 0;
  background-image: url("/img/form/radio_active.svg");
  background-repeat: no-repeat;
}

.filter-input-radio:checked+label::after  {
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  background-image: url("");
  background-repeat: no-repeat;
}

.button__submit {
  font-size: 17px;
  line-height: 16px;
  background-color: transparent;
}

.button__submit:link {
  color: @light-black;
  background: @basic-white;
}

.button__submit:hover {
  color: @basic-white;
  background: @light-black;
  padding: 14px 45px 14px 45px;
}

.button__submit:active {
  color: @lighten-black;
  background: @light-black;
}
