.filter-name-radio {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  position: absolute;
  width: 42px;
  height: 42px;
  padding-left: 60px;
  background-image: url("../img/form/radio.svg");
  background-repeat: no-repeat;
  display: flex;
  min-width: 320px;
  align-items: center;
}
