.filter-name-checkbox {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  position: absolute;
  width: 38px;
  height: 38px;
  padding-left: 60px;
  background-image: url("../img/form/checkbox.svg");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
